In [79]:
import pandas as pd
import scanpy as sc
import os
import numpy as np

In [86]:
exp = "/home/meric/Desktop/single-cell-pathway-analysis/scripts/data/expression_matrix.tsv"
meta = "/home/meric/Desktop/single-cell-pathway-analysis/scripts/data/meta_data.tsv"
out = "./adata.csv"

In [87]:
#
def filter_and_normalize (species,apply_min_cells,apply_min_genes,apply_mt_filter,apply_normalization,apply_log,exp_path,out_path,min_genes=200,min_cells=10,target_sum=1e4,percent_mt=10):
        adata = sc.read(exp_path).T
        #meta = pd.read_table(meta_path,index_col=0)
        #adata.obs = meta

        if apply_min_cells:
            sc.pp.filter_cells(adata, min_genes=min_genes) # 200
        if apply_min_genes:
            sc.pp.filter_genes(adata, min_cells=min_cells) # 3

        if apply_mt_filter:
            if species == "Mouse":
                adata.var['mt'] = adata.var_names.str.startswith('mt-')
            elif species == "Human":
                adata.var['mt'] = adata.var_names.str.startswith('MT-')
            else:
                raise Exception("This specie is not supported")

            sc.pp.calculate_qc_metrics(adata, qc_vars=['mt'], percent_top=None, log1p=False, inplace=True)
            adata = adata[adata.obs.pct_counts_mt < percent_mt, :]

        if apply_normalization:
            sc.pp.normalize_total(adata, target_sum=target_sum)
        if apply_log:
            sc.pp.log1p(adata)

        exp_out_file = os.path.join(out_path,'adata_X.csv')
        #meta_out_file = os.path.join(out_path,'adata_meta_data.csv')
        pd.DataFrame(data=adata.X, index=adata.obs_names, columns=adata.var_names).to_csv(out_path)
        #pd.DataFrame(data=adata.obs).to_csv(meta_out_file)

In [ ]:
pd.DataFrame(data=adata2.X, index=adata2.obs_names, columns=adata2.var_names).to_csv('adata_x.csv')
pd.DataFrame(data=adata2.obs).to_csv('adata_meta_data.csv')

In [89]:
filter_and_normalize(species="Mouse",apply_min_cells=True,apply_min_genes=True,apply_mt_filter=True,apply_normalization=True,apply_log=True,exp_path=exp,out_path=out)

/home/meric/Desktop/single-cell-pathway-analysis/venv/lib/python3.8/site-packages/scanpy/preprocessing/_normalization.py:170: UserWarning: Received a view of an AnnData. Making a copy.
  view_to_actual(adata)

In [23]:
adata2.obs.head()

,orig.ident,nCount_RNA,nFeature_RNA,percent.mt,RNA_snn_res.0.2,seurat_clusters,RNA_snn_res.0.3,RNA_snn_res.0.5,n_genes,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt
midpoint_AAACCTGCACCCAGTG-1,midpoint_treated,2273,1042,4.047514,3.0,1,NaN,1,1042,1042,2273.0,0.0,0.0
midpoint_AAACCTGCAGCTTAAC-1,midpoint_treated,2644,1036,3.933434,3.0,1,NaN,1,1036,1036,2644.0,0.0,0.0
midpoint_AAACCTGGTGTGCGTC-1,midpoint_treated,8506,2325,4.067717,9.0,7,NaN,7,2325,2325,8506.0,0.0,0.0
midpoint_AAACCTGGTTGAACTC-1,midpoint_treated,8249,2394,2.691235,2.0,3,NaN,3,2394,2394,8249.0,0.0,0.0
midpoint_AAACGGGAGGATGGTC-1,midpoint_treated,4295,1505,2.281723,1.0,0,NaN,0,1505,1505,4295.0,0.0,0.0

In [ ]:
# save normalized expression data and meta data as files separately

In [36]:
adata2.obs.head()

,orig.ident,nCount_RNA,nFeature_RNA,percent.mt,RNA_snn_res.0.2,seurat_clusters,RNA_snn_res.0.3,RNA_snn_res.0.5,n_genes,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt
midpoint_AAACCTGCACCCAGTG-1,midpoint_treated,2273,1042,4.047514,3.0,1,NaN,1,1042,1042,2273.0,0.0,0.0
midpoint_AAACCTGCAGCTTAAC-1,midpoint_treated,2644,1036,3.933434,3.0,1,NaN,1,1036,1036,2644.0,0.0,0.0
midpoint_AAACCTGGTGTGCGTC-1,midpoint_treated,8506,2325,4.067717,9.0,7,NaN,7,2325,2325,8506.0,0.0,0.0
midpoint_AAACCTGGTTGAACTC-1,midpoint_treated,8249,2394,2.691235,2.0,3,NaN,3,2394,2394,8249.0,0.0,0.0
midpoint_AAACGGGAGGATGGTC-1,midpoint_treated,4295,1505,2.281723,1.0,0,NaN,0,1505,1505,4295.0,0.0,0.0

In [50]:
adata2.write_csvs("filename", skip_data=False)

In [55]:
adata2.X.shape

(4797, 14836)

In [56]:
adata2.obs.head()

,orig.ident,nCount_RNA,nFeature_RNA,percent.mt,RNA_snn_res.0.2,seurat_clusters,RNA_snn_res.0.3,RNA_snn_res.0.5,n_genes,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt
midpoint_AAACCTGCACCCAGTG-1,midpoint_treated,2273,1042,4.047514,3.0,1,NaN,1,1042,1042,2273.0,0.0,0.0
midpoint_AAACCTGCAGCTTAAC-1,midpoint_treated,2644,1036,3.933434,3.0,1,NaN,1,1036,1036,2644.0,0.0,0.0
midpoint_AAACCTGGTGTGCGTC-1,midpoint_treated,8506,2325,4.067717,9.0,7,NaN,7,2325,2325,8506.0,0.0,0.0
midpoint_AAACCTGGTTGAACTC-1,midpoint_treated,8249,2394,2.691235,2.0,3,NaN,3,2394,2394,8249.0,0.0,0.0
midpoint_AAACGGGAGGATGGTC-1,midpoint_treated,4295,1505,2.281723,1.0,0,NaN,0,1505,1505,4295.0,0.0,0.0

In [53]:




        if qc_filter==True & normalize==True & log==True:
            sc.pp.filter_cells(adata, min_genes=min_genes) # 200
            sc.pp.filter_genes(adata, min_cells=min_cells) # 3
            # annotate the group of mitochondrial genes as 'mt'
            adata.var['mt'] = adata.var_names.str.startswith('MT-')
            # calculate QC metrics
            sc.pp.calculate_qc_metrics(adata, qc_vars=['mt'], percent_top=None, log1p=False, inplace=True)
            # filtration based on QC filtering
            adata = adata[adata.obs.pct_counts_mt < percent_mt, :]
            sc.pp.normalize_total(adata, target_sum=target_sum)
            sc.pp.log1p(adata)
        if qc_filter==False & normalize==True & log==True:
            # calculate QC metrics
            sc.pp.calculate_qc_metrics(adata, qc_vars=['mt'], percent_top=None, log1p=False, inplace=True)
            # filtration based on QC filtering
            sc.pp.normalize_total(adata, target_sum=target_sum)
            sc.pp.log1p(adata)

        pd.DataFrame(data=adata.X, index=adata.obs_names, columns=adata.var_names).to_csv('adata_x.csv')
        pd.DataFrame(data=adata.obs).to_csv('adata_meta_data.csv')